.container {
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8; */
  
}

.card {
  width: 100%;
  /* max-width: 420px; */
  max-height: 100vh;
  background: #ffffff;
  /* padding: 40px; */
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}
